* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0px 30px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(4, 28, 45, 0.6);
    border-bottom: 1px solid rgba(186, 186, 186, 0.25);
    backdrop-filter: blur(5px);
}

.logoContainer p:nth-child(1) {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;

}

.logoContainer p:nth-child(2) {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}


nav ul {
    display: flex;
    list-style: none;
    color: white;
    gap: 15px;
    text-transform: uppercase;
}


.searchContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.searchContainer img {
    width: 20px;
}

.searchContainer button {
    background-color: rgba(255, 204, 82);
    border: 0;
    border-radius: 5px;
    padding: 8px 12px;
    color: white;
}

#heroSection {
    height: 95vh;
    width: 99vw;
}

#heroSection .overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right,
            rgba(4, 28, 45) 32%,
            rgba(12, 27, 64, 0.01) 100%);
    padding: 250px 190px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#heroSection .imageContainer {
    background-image: url(./assets/meeting.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}


#heroSection .imageContainer ul {
    color: rgba(255, 204, 82);
    font-size: 18px;
    padding-left: 18px;
}

#heroSection .headLine1 {
    font-weight: bold;
    color: white;
    font-size: 46px;
    width: 540px;
}

#heroSection .headLine2 {
    color: white;
    width: 410px;
}

#heroSection .btnContainer button {
    padding: 10px 15px;
    font-size: 14px;
    border: 0;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
}

#heroSection .btnContainer button:nth-child(1) {
    background-color: rgba(255, 204, 82);
    border-radius: 5px;
    font-weight: 500;
}

#heroSection .btnContainer button:nth-child(2) {
    text-decoration: underline;
    font-weight: 500;
}


#section2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px 0px 100px 0px;
    box-sizing: border-box;
}

#section2 ul {
    color: rgba(255, 204, 82);
    font-size: 20px;
}


#section2 h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

#section2 .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    align-items: center;
}

#section2 .cardsContainer .card {
    width: 18%;
    border: 1px solid rgb(202, 202, 202);
    border-radius: 5px;
}

#section2 .cardsContainer .card .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 65px;
}

#section2 .cardsContainer .card .cardContent p {
    text-align: center;
    color: rgb(117, 117, 117);
}

#section2 .cardsContainer .card button {
    background: transparent;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border: 0;
    border-top: 1px solid rgb(177, 177, 177);
    text-transform: uppercase;
    font-weight: 500;
}

#section2>p {
    font-size: 22px;
    color: rgb(117, 117, 117);
}

#section3 {
    display: flex;
    gap: 50px;
    background-color: rgba(242, 248, 251);
    padding: 100px 180px;
}

#section3 ul {
    color: rgba(255, 204, 82);
    font-size: 20px;
    padding-left: 10px;
}

#section3 .left img {
    width: 500px;
    border-radius: 5px;
}

#section3 .left .imageTitle {
    position: relative;
    z-index: 0;
    width: fit-content;
    border-radius: 5px;
    padding: 30px 25px;
    bottom: 95px;
    right: 30px;
    background-color: rgba(4, 28, 45);
    color: white;
}

#section3 .left .imageTitle p:nth-child(1) {
    font-size: 16px;
}

#section3 .left .imageTitle p:nth-child(2) {
    font-size: 32px;
    font-weight: bold;
}

#section3 .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding: 0px 50px;
}

#section3 .right ul {
    padding-left: 22px;
}


#section3 .right h2 {
    font-size: 52px;
    letter-spacing: -2px;
}

#section3 .right p {
    font-size: 18px;
    color: rgb(117, 117, 117);
}

#section3 .right .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-top: 10px;
}

#section3 .right .stepsContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#section3 .right .stepsContainer h4 {
    font-size: 24px;
}

#section3 .right .stepsContainer p {
    font-size: 18px;
}

#section3 .right .steps img {
    width: 220px;
    border-radius: 5px;
}


#section4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section4 .imageContainer {
    background-image: url(./assets/sectionImg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 340px;
}

.overlay {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(12, 27, 64, 0.85);
}

#section4 .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 250px;
}


#section4 .imageContainer h2 {
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 45px;
    width: 70%;
}

#section4 .imageContainer button {
    height: fit-content;
    font-size: 17px;
    border: 0;
    padding: 10px 40px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: rgba(255, 204, 82);
    color: white;

}

#section4 .statsContainer {
    position: relative;
    display: flex;
    z-index: 0;
    justify-content: space-around;
    width: 70%;
    border-radius: 10px;
    padding: 40px 80px;
    bottom: 65px;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.18);
}

#section4 .statsContainer .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#section4 .statsContainer .stats h4 {
    font-size: 36px;
    text-decoration: 5px underline rgba(255, 204, 82);
}

#section4 .statsContainer .stats p {
    font-size: 18px;
    color: rgb(117, 117, 117);
}


#section5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px 0px 100px 0px;
    box-sizing: border-box;
}

#section5 ul {
    color: rgba(255, 204, 82);
    font-size: 20px;
}


#section5 h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

#section5 .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    align-items: center;
}

#section5 .cardsContainer .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 18%;
    background-color: rgba(242, 248, 251);
    border-radius: 5px;
}

#section5 .cardsContainer .card .cardContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 50px 65px;
}

#section5 .cardsContainer .card .cardContent p {
    text-align: center;
    color: rgb(117, 117, 117);
}

#section5 .cardsContainer .card .buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 5px;
    width: 60%;
    padding: 0px 0px 20px 0px;
}

#section5 .cardsContainer .card .buttons .iconContainer {
    border-radius: 50%;
    padding: 5px;
    /* border: 1px solid rgb(117, 117, 117); */
}

#section5 .cardsContainer .card .buttons .iconContainer img {
    width: 15px;
    height: 15px;
}

#section6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(242, 248, 251);
    padding: 100px 480px;
    gap: 45px;
}

#section6 ul {
    color: rgba(255, 204, 82);
    font-size: 20px;
}


#section6 h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

#section6 .comma {
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 204, 82);
    font-size: 40px;
    padding: 10px;
    height: 30px;
    width: 30px;
    color: white;
    font-family: fangsong;
}

#section6>p {
    text-align: center;
    color: rgb(117, 117, 117);
    font-size: 24px;
}

#section6 .nameContainer p:nth-child(1) {
    color: rgba(255, 204, 82);
    font-size: 22px;
    text-align: center;
}

#section6 .nameContainer p:nth-child(2) {
    color: rgb(117, 117, 117);
    font-size: 18px;
    text-align: center;
}

#section6 .imageContainer {
    display: flex;
    gap: 20px;

}

#section6 .imageContainer img {
    width: 80px;
}

#section7 {
    background-image: url(./assets/section7img.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 340px;
}

#section7 .contentContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 250px;
}


#section7 .contentContainer h2 {
    color: white;
    text-shadow: 0px 0px 2px black;
    font-size: 45px;
    text-align: end;
    width: 60%;
}

#section7 .contentContainer .btnContainer {
    display: flex;
    align-items: center;
    gap: 25px;
    height: fit-content;
    font-size: 17px;
    border: 0;
    padding: 10px 40px;
    border-radius: 5px;
    background-color: transparent;
    color: rgba(255, 204, 82);
}

#section7 .contentContainer .btnContainer button {
    background-color: rgba(255, 204, 82);
    border: 0;
    border-radius: 50%;
    padding: 20px 20px 20px 23px;
}

#section7 .contentContainer .btnContainer button img {
    width: 30px;
    height: 30px;
}


#section8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding: 20px 0px 100px 0px;
    box-sizing: border-box;
}

#section8 ul {
    color: rgba(255, 204, 82);
    font-size: 20px;
}


#section8 h2 {
    font-size: 42px;
    margin-bottom: 5px;
}

#section8 .cardsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    width: 100%;
    align-items: center;
}

#section8 .cardsContainer .card {
    width: 25%;
    border: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

#section8 .imgContainer img {
    width: 100%;
}

#section8 .imgContainer .date {
    background-color: rgba(4, 28, 45);
    color: white;
    width: fit-content;
    padding: 10px 22px;
    border-radius: 3px;
    position: relative;
    z-index: 0;
    bottom: 47px;
    left: 310px;
}

#section8 .imgContainer .date p:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
}

#section8 .imgContainer .date p:nth-child(2) {
    font-size: 24px;
}

#section8 .cardsContainer .card .cardContent {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    margin-top: -35px;
    padding: 0px 45px 50px 45px;
}

#section8 .cardsContainer .card .cardContent .comment {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#section8 .cardsContainer .card .cardContent .comment p:nth-child(1) {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    color: rgb(117, 117, 117);
}

#section8 .cardsContainer .card .cardContent .comment p:nth-child(2) {
    font-size: 14px;
    color: rgb(117, 117, 117);
}

#section8 .cardsContainer .card .cardContent h3 {
    font-size: 24px;
    width: 100%;
}

#section8 .cardsContainer .card button {
    background: transparent;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    border: 0;
    border-top: 1px solid rgb(177, 177, 177);
    text-transform: uppercase;
    font-weight: 500;
}

#section8>button {
    background-color: rgba(255, 204, 82);
    border: 0;
    border-radius: 5px;
    padding: 12px 25px;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}


#section9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(4, 28, 45);
    padding: 30px 180px;
}

#section9 .top {
    position: relative;
    z-index: 0;
    bottom: 80px;
    display: flex;
    gap: 20px;
    width: 100%;
}


#section9 .brandContainer {
    background-color: rgba(255, 204, 82);
    border-radius: 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section9 .brandContainer p:nth-child(1) {
    color: white;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;

}

#section9 .brandContainer p:nth-child(2) {
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

#section9 .top .contactDetails {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: rgb(117, 117, 117);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    background-color: white;
    border-radius: 10px;
    padding: 30px 25px;
    width: 75%;
    font-size: 14px;
}

#section9 .top .contactDetails .contactCard {
    width: 30%;
}

#section9 .middle {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-bottom: 25px;
}

#section9 .middle>div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 200px;
    width: 25%;
    gap: 25px;
    padding: 35px 25px;
}

.footContent {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

#section9 .middle h4 {
    font-size: 19px;
    font-weight: normal;
    text-transform: uppercase;
}

#section9 .middle .footBtns {
    display: flex;
    gap: 25px;
}

#section9 .middle .footBtns button {
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    display: flex;
    align-items: center;
}

#section9 .footBtns img {
    width: 15px;
    filter: invert(1) drop-shadow(0px 0px 0px white);
}

#section9 .newsContainer {
    display: flex;
    gap: 15px;
}

#section9 .newsContainer span p:nth-child(1) {
    font-weight: 500;
}

#section9 .newsContainer span p:nth-child(2) {
    color: rgb(117, 117, 117);
    font-size: 15px;
}

#section9 .newsContainer img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

#section9 .middle input {
    border: 0;
    font-size: 16px;
    color: rgb(117, 117, 117);
    border-radius: 5px;
    padding: 10px;
}

#section9 .middle div:nth-child(4) button {
    padding: 10px;
    background-color: rgba(255, 204, 82);
    border-radius: 5px;
    border: 0;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

footer {
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: rgba(4, 28, 45);
    color: white;
    padding: 20px 0px;
    border-top: 1px solid rgba(117, 117, 117, 0.2);
}

footer p:nth-child(2) {
    color: rgba(255, 204, 82);
}